{% extends 'base.html.twig' %}

{% block title %} Listing all icons {% endblock %}

{% block body %}

<ul>

{% for icon in icons %}
	<li> {{icon.iconName}} {{icon.iconImage}} </li>
{% endfor %}

</ul>

{% endblock %}