{% extends 'base.html.twig' %}

{% block title %} Listing all icons {% endblock %}

{% block body %}

<div class="topnav">
	<a href="new-item">New Item</a>
	<a href="lister-item">Item List</a>
	<a href="new-icon">New Icon</a>
	<a href="lister-icon">Icon List</a>
</div>

<ul>

{% for icon in icons %}
	<li> {{icon.iconName}} {{icon.iconImage}} </li>
{% endfor %}

</ul>

{% endblock %}