{% extends 'base.html.twig' %}

{% block title %} Listing all items {% endblock %}

{% block body %}

<ul>

{% for item in items %}
	<li> {{item.name}} {{ item.expirationDate|date("m/d/Y") }} {{item.icon}}</li>
{% endfor %}

</ul>

{% endblock %}